/* ==|====================
   Components/Overlay
   ======================= */

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: $t-transition;

    &[aria-hidden=false] {
        opacity: 1;
        visibility: visible;
    }
}