<footer id="l-footer">
    <section id="brand-informations">
        <div id="l-constrained">
            <div class="brand___contact">
                <div class="adresse">
                    <i class='bx bx-map'></i>
                    <a 
                    href="https://www.google.fr/maps/place/Need+for+School/@49.4303564,1.0808759,19.62z/data=!4m5!3m4!1s0x47e0df1548cd768b:0x70b4b34959b1ec9f!8m2!3d49.4304007!4d1.0812127"
                    target="_blank">
                        Place Henri Gadeau de Kerville,<br>76100 Rouen
                    </a>
                </div>
                <div class="phone">
                    <i class='bx bx-phone-call' ></i>
                    <a href="tel:+33607080910">06.07.08.09.10</a>
                </div>
                <div class="email">
                    <i class='bx bx-envelope' ></i>
                    <a href="mailto:contact@benaverre.fr">contact@benaverre.fr</a>
                </div>
            </div>
            <div class="brand___logo">
                <a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="logo du site"></a>
            </div>
            <div class="brand___about">
                <h3 class="subtitle">A Propos</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque libero architecto eveniet? Quibusdam fuga eius magni 
                    quaerat sapiente vitae, beatae nesciunt tempora consectetur explicabo! Mollitia assumenda id saepe excepturi doloremque 
                    accusantium debitis soluta incidunt asperiores.</p>
                <div class="brand__social-link">
                    <a href="https://instagram.com" target="_blank" class="instagram"><i class='bx bxl-instagram'></i></a>
                    <a href="https://facebook.com" target="_blank" class="facebook"><i class='bx bxl-facebook'></i></a>
                    <a href="https://twitter.com" target="_blank" class="twitter"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright">
        <div id="l-constrained">
            <p>&copy; Copyright 2021 Ben a verre | Tous droits réservés</p>
        </div>
    </div>
</footer>