@charset "UTF-8";
/* ─────────────────────────────────────────────────────────
/* ------------------ C S S   S T A R T --------------------
/* ───────────────────────────────────────────────────────── */
/* ─── UTILS ──────────────────────────────────────────── */
/* ==|====================
   Utils/Site-Settings
   ======================= */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&display=swap");
@import url("../fonts/marianne/marianne.css");
/* ==|====================
   Utils/Mixins
   ======================= */
/* ─── BASE ──────────────────────────────────────────────── */
/* ==|====================
   Utils/Base
   ======================= */
body {
  background-color: #F4F9FF;
  font-family: "custom-marianne", system-ui, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

/* ─── LAYOUT ────────────────────────────────────────────── */
/* ==|====================
   Layout/Constrained
   ======================= */
#l-constrained {
  width: 100%;
  max-width: 1440px;
  padding: 0 2em;
  margin: 0 auto;
}

/* ==|====================
   Layout/Header
   ======================= */
#l-header {
  z-index: 999;
  padding: 30px 0;
  background-color: #fff;
  background-image: url("../images/eco-patern.png");
  background-repeat: no-repeat;
  background-position: center right -15%;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
}

#l-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#l-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#l-header nav ul li:not(:first-child) {
  margin-left: 20px;
}

#l-header nav ul li a {
  position: relative;
  padding: 10px 15px;
  opacity: 0.6;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#l-header nav ul li a:not(.btn)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 0;
  height: 3px;
  background-color: #4BAC60;
  opacity: 0.4;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#l-header nav ul li a:hover {
  opacity: 1;
}

#l-header nav ul li a:hover::before {
  opacity: 1;
  width: calc(50% - 15px);
}

#l-header nav ul li.has-submenu {
  position: relative;
}

#l-header nav ul li.has-submenu > a {
  height: 100%;
  display: block;
}

#l-header nav ul li.has-submenu > a i {
  font-size: 2.2em;
}

#l-header nav ul li.has-submenu > a::before {
  display: none !important;
}

#l-header nav ul li.has-submenu ul.submenu {
  padding: 20px 30px;
  position: absolute;
  top: 50px;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#l-header nav ul li.has-submenu ul.submenu li {
  margin: 0 !important;
  width: 100%;
}

#l-header nav ul li.has-submenu ul.submenu li a {
  padding-left: 0;
  padding-right: 0;
}

#l-header nav ul li.has-submenu ul.submenu li a::before {
  left: 0;
}

#l-header nav ul li.has-submenu ul.submenu li span {
  font-weight: bold;
  font-style: italic;
}

#l-header nav ul li.has-submenu:focus-within ul.submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#l-header nav .responsive-list {
  display: none;
}

#l-header nav .responsive-list .has-submenu {
  position: relative;
}

#l-header nav .responsive-list .has-submenu > a {
  padding-top: 0;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#l-header nav .responsive-list .has-submenu ul.submenu {
  position: unset;
  background-color: #F4F9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

#l-header nav .responsive-list .has-submenu ul.submenu li {
  margin: 0 !important;
  width: auto;
}

#l-header nav .responsive-list .has-submenu ul.submenu li.display-name {
  padding: 0 15px;
  cursor: default;
}

#l-header nav .responsive-list .has-submenu ul.submenu li a {
  padding: 10px 15px;
}

#l-header nav .responsive-list .has-submenu ul.submenu li a::before {
  left: 15px;
}

#l-header nav .responsive-list .has-submenu ul.submenu li span {
  font-weight: bold;
  font-style: italic;
}

#l-header nav .hamburger {
  display: none;
}

/* ==|====================
   Layout/Main
   ======================= */
.section-title {
  font-family: "Rubik", system-ui, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 50px;
}

/* ==|====================
   Layout/Footer
   ======================= */
#l-footer #brand-informations {
  padding: 50px 0;
  background-color: #202C3A;
  color: #fff;
  font-weight: 300;
}

#l-footer #brand-informations #l-constrained {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#l-footer #brand-informations #l-constrained .brand___contact {
  width: 33.333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

#l-footer #brand-informations #l-constrained .brand___contact > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#l-footer #brand-informations #l-constrained .brand___contact > div i {
  font-size: 32px;
}

#l-footer #brand-informations #l-constrained .brand___contact > div a {
  opacity: 0.6;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#l-footer #brand-informations #l-constrained .brand___contact > div a:hover {
  opacity: 1;
  text-decoration: underline;
}

#l-footer #brand-informations #l-constrained .brand___logo {
  width: 33.333333333%;
  text-align: center;
}

#l-footer #brand-informations #l-constrained .brand___logo img {
  display: inline-block;
}

#l-footer #brand-informations #l-constrained .brand___about {
  width: 33.333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

#l-footer #brand-informations #l-constrained .brand___about .subtitle {
  font-size: 2em;
  font-weight: bold;
}

#l-footer #brand-informations #l-constrained .brand___about p {
  font-weight: 100;
  opacity: 0.6;
}

#l-footer #brand-informations #l-constrained .brand___about .brand__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

#l-footer #brand-informations #l-constrained .brand___about .brand__social-link a i {
  opacity: 1;
  font-size: 32px;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#l-footer #brand-informations #l-constrained .brand___about .brand__social-link a:hover i {
  opacity: 0.6;
}

#l-footer .copyright {
  padding: 30px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

/* ─── COMPONENTS ────────────────────────────────────────────── */
/* ==|====================
   Components/Overlay
   ======================= */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

.overlay[aria-hidden=false] {
  opacity: 1;
  visibility: visible;
}

/* ==|====================
   Components/Form
   ======================= */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

form .field-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

form .field-categories .field-category {
  padding: 30px 20px;
  border-radius: 5px;
  border: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

form .field-categories .field-category h2 {
  font-size: 2em;
  font-weight: bold;
}

form.contact-form {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 5px;
  width: 740px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(32, 44, 58, 0.2);
          box-shadow: 4px 4px 10px 0px rgba(32, 44, 58, 0.2);
}

form .field {
  padding: 7px 10px;
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

form .field:focus-within {
  border-color: #4BAC60;
  -webkit-box-shadow: 0 0 0 5px rgba(47, 136, 66, 0.2);
          box-shadow: 0 0 0 5px rgba(47, 136, 66, 0.2);
}

form .field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  color: #888;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

form .field label > span.optional {
  margin-left: 5px;
  font-size: 0.8em;
  color: #aaaaaa;
}

form .field label:hover {
  color: #333;
}

form .field input,
form .field textarea {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  width: 100%;
  background-color: transparent;
}

form .field input:focus ~ label,
form .field textarea:focus ~ label {
  color: #4BAC60;
}

form .field input:focus ~ label i,
form .field textarea:focus ~ label i {
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
  -webkit-animation: bounceIcon 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounceIcon 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

form .field textarea {
  height: 150px;
  resize: vertical;
}

form .field .drag-area {
  cursor: pointer;
  padding: 30px;
  margin: 7px 0;
  border: 5px dashed rgba(47, 136, 66, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

form .field .drag-area:hover {
  background-color: rgba(47, 136, 66, 0.1);
  border-color: #4BAC60;
}

form .field .drag-area > i {
  font-size: 5.5em;
}

form .field .drag-area > p {
  text-align: center;
  font-weight: lighter;
}

form .field .drag-area > p span {
  display: block;
  font-weight: bold;
}

form .field .drag-area > p code {
  padding: 5px 10px;
  background-color: #F4F9FF;
  color: #000;
  border-radius: 5px;
}

form .field .drag-area > button {
  background: transparent;
  color: #4BAC60;
  text-decoration: underline;
}

form .field .drag-area > input[type=file] {
  visibility: hidden;
  width: 0;
  height: 0;
}

form .field .drag-area > p.file-types {
  color: #aaa;
  margin-top: 20px;
  font-size: 0.85em;
}

form .field .forgot-password {
  margin-top: 5px;
}

form .field .forgot-password a {
  font-size: 12px;
  color: #4BAC60;
}

form .field .forgot-password a:hover {
  text-decoration: underline;
}

form .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "field1 field2";
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

form .field-group .field {
  width: 100%;
}

form .field-group .field:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: field1;
}

form .field-group .field:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: field2;
}

form .field-submit {
  width: auto;
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0 !important;
}

form .field-alreadylog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

form .field-alreadylog a {
  color: #4BAC60;
}

form .field-alreadylog a:hover {
  text-decoration: underline;
}

form .field-checkbox {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border: none !important;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

form .field-checkbox:focus-within {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
}

form .field-checkbox input[type=checkbox] {
  position: relative;
  width: auto !important;
  margin-right: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

form .field-checkbox input[type=checkbox]::before {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #888;
  border-radius: 5px;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

form .field-checkbox input[type=checkbox]::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(0);
          transform: translate(-50%, -50%) scaleX(0);
  border-radius: 50%;
  -webkit-transition: all 0.2s cubic-bezier(0.705, -0.01, 0.36, 1.39);
  transition: all 0.2s cubic-bezier(0.705, -0.01, 0.36, 1.39);
}

form .field-checkbox input[type=checkbox]:checked::before {
  border-color: #4BAC60;
  -webkit-box-shadow: 0 0 0 5px rgba(47, 136, 66, 0.2);
          box-shadow: 0 0 0 5px rgba(47, 136, 66, 0.2);
}

form .field-checkbox input[type=checkbox]:checked::after {
  -webkit-transform: translate(-50%, -50%) scaleX(1);
          transform: translate(-50%, -50%) scaleX(1);
}

form .field-checkbox label {
  margin-bottom: 0 !important;
}

.notice {
  margin-top: 10px;
  cursor: default;
  font-size: 12px;
}

.notice ul {
  position: relative;
  padding: 7px 25px;
  padding-left: calc(25px * 2);
  border-radius: 5px;
}

.notice ul::before {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.notice ul a {
  font-weight: bold;
  text-decoration: underline;
}

.notice ul a:hover {
  color: #202C3A;
}

.notice ul span {
  font-weight: bold;
  font-style: italic;
}

.notice.notice-error ul {
  color: #D54C4C;
  background-color: #ffcece;
}

.notice.notice-error ul::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(213, 76, 76, 1);transform: ;msFilter:;'%3E%3Cpath d='M11.001 10h2v5h-2zM11 16h2v2h-2z'%3E%3C/path%3E%3Cpath d='M13.768 4.2C13.42 3.545 12.742 3.138 12 3.138s-1.42.407-1.768 1.063L2.894 18.064a1.986 1.986 0 0 0 .054 1.968A1.984 1.984 0 0 0 4.661 21h14.678c.708 0 1.349-.362 1.714-.968a1.989 1.989 0 0 0 .054-1.968L13.768 4.2zM4.661 19 12 5.137 19.344 19H4.661z'%3E%3C/path%3E%3C/svg%3E");
}

.notice.notice-info ul {
  color: #3f5b9c;
  background-color: #bbcaee;
}

.notice.notice-info ul::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(63, 91, 156, 1);transform: ;msFilter:;'%3E%3Cpath d='M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z'%3E%3C/path%3E%3Cpath d='M11 7h2v7h-2zm0 8h2v2h-2z'%3E%3C/path%3E%3C/svg%3E");
}

.notice.notice-success ul {
  color: #469b3c;
  background-color: #bef5b8;
}

.notice.notice-success ul::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(70, 155, 60, 1);transform: ;msFilter:;'%3E%3Cpath d='M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z'%3E%3C/path%3E%3Cpath d='M9.999 13.587 7.7 11.292l-1.412 1.416 3.713 3.705 6.706-6.706-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
}

.notice.notice-flash {
  position: fixed;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.notice.notice-flash ul {
  padding: 15px 25px;
  padding-left: calc(25px * 2);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.2);
  max-width: calc(100vw - 40px);
}

@-webkit-keyframes bounceIcon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounceIcon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* ==|====================
   Components/Buttons
   ======================= */
.btn {
  display: block;
  position: relative;
  font-family: "Rubik", system-ui, Helvetica, Arial, sans-serif;
  opacity: 1 !important;
  font-size: 16px;
  padding: 15px 35px !important;
  background-color: #4BAC60;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
  -webkit-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2);
}

.btn i {
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

.btn:hover {
  background-color: #2f8842;
}

.btn:active i {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* ==|====================
   Components/Scrollbar
   ======================= */
.scrollbar-light-theme::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #F4F9FF;
}

.scrollbar-light-theme::-webkit-scrollbar-track {
  background: #F4F9FF;
}

.scrollbar-light-theme::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #ababab;
  cursor: pointer;
}

.scrollbar-light-theme::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

.scrollbar-dark-theme::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #F4F9FF;
}

.scrollbar-dark-theme::-webkit-scrollbar-track {
  background: #F4F9FF;
}

.scrollbar-dark-theme::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #505050;
  cursor: pointer;
}

.scrollbar-dark-theme::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

/* ─── PAGES ─────────────────────────────────────────────── */
/* ==|====================
   Pages/Front/Home
   ======================= */
#welcome {
  padding: 50px 0;
  background: url("../images/welcome-bg.webp") no-repeat;
  background-size: cover;
  height: calc(100vh - 156px);
  color: #fff;
}

#welcome > #l-constrained {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

#welcome > #l-constrained h1.section-title {
  line-height: 1.1;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0px;
}

#welcome > #l-constrained p {
  font-size: 1.2em;
  opacity: 0.7;
}

#map {
  height: 100%;
  -webkit-filter: blur(1.5rem);
          filter: blur(1.5rem);
}

#trouver-une-benne {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background-color: #fff;
  background-image: url("../images/map-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#trouver-une-benne #l-constrained {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#trouver-une-benne .section-title {
  text-align: center;
}

#trouver-une-benne .mapbox {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #4BAC60;
  -webkit-box-shadow: 0 0 0 8px rgba(47, 136, 66, 0.2), 0 0 10px 0 rgba(32, 44, 58, 0.2);
          box-shadow: 0 0 0 8px rgba(47, 136, 66, 0.2), 0 0 10px 0 rgba(32, 44, 58, 0.2);
  z-index: 15;
}

#trouver-une-benne .mapchange {
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("../images/maping.PNG");
  -webkit-filter: blur(1.5rem);
          filter: blur(1.5rem);
}

#trouver-une-benne .locate {
  line-height: 1.1;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

#contact {
  padding: 50px 0;
  background-color: #F4F9FF;
}

#contact .section-title {
  color: #202C3A;
}

#contact #l-constrained {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ==|====================
   Pages/Front/Authentification
   ======================= */
#registration,
#login {
  padding: 50px 30px;
  position: relative;
  min-height: 100vh;
  background-image: url("../images/login-signup-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#registration:before,
#login:before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: rgba(32, 44, 58, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#registration .back-to-home,
#login .back-to-home {
  position: relative;
  height: 100%;
}

#registration .back-to-home p,
#login .back-to-home p {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

#registration .registration-form,
#registration .login-form,
#login .registration-form,
#login .login-form {
  position: relative;
  width: 100%;
  max-width: 1280px;
  z-index: 15;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(32, 44, 58, 0.2);
          box-shadow: 4px 4px 10px 0px rgba(32, 44, 58, 0.2);
}

#registration .registration-form h1.section-title,
#registration .login-form h1.section-title,
#login .registration-form h1.section-title,
#login .login-form h1.section-title {
  margin-bottom: 20px;
}

#registration .registration-form .field-submit,
#registration .login-form .field-submit,
#login .registration-form .field-submit,
#login .login-form .field-submit {
  text-align: right;
}

/* ==|====================
   Pages/Front/Profile
   ======================= */
#profile {
  padding: 50px 0;
}

#profile > #l-constrained {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
}

#profile .section-title {
  margin-bottom: 25px;
}

#profile .user-infos ul {
  padding: 20px 35px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

#profile .user-infos ul li label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #202C3A;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#profile .user-infos ul li .undefined {
  font-style: italic;
  font-weight: lighter;
}

#profile .tokenAPI .token {
  padding: 20px 35px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

#profile .tokenAPI .token label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #202C3A;
  -webkit-transition: 0.275s ease-in-out;
  transition: 0.275s ease-in-out;
}

#profile .tokenAPI .token code {
  border-radius: 5px;
  padding: 5px 25px;
  background-color: #F4F9FF;
}

/* ─── RESPONSIVE ────────────────────────────────────────── */
/* ==|====================
   Utils/Responsive
   ======================= */
@media screen and (max-width: 1720px) {
  #l-header nav ul li.has-submenu ul.submenu {
    right: 0;
    left: unset;
  }
}

@media screen and (max-width: 1200px) {
  #registration,
  #login {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50px 1fr;
        grid-template-rows: 50px 1fr;
  }
  #l-header {
    background-position: center right -55%;
  }
  .field-categories {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 1024px) {
  #l-header {
    position: relative;
    background-position: center right -75%;
  }
  #l-header nav ul {
    display: none;
  }
  #l-header nav .responsive-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 75%;
    height: calc(100vh - 156px);
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    border-top: 1px solid #dedede;
    -webkit-transition: 0.275s ease-in-out;
    transition: 0.275s ease-in-out;
  }
  #l-header nav .responsive-list[aria-expanded=true] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #l-header nav .responsive-list li {
    margin: 20px 0 !important;
  }
  #l-header nav .hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 30px;
  }
  #l-header nav .hamburger .bar {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #000;
    border-radius: 5px;
    -webkit-transition: 0.275s ease-in-out;
    transition: 0.275s ease-in-out;
  }
  #l-header nav .hamburger .bar.bar-top {
    top: 0;
  }
  #l-header nav .hamburger .bar.bar-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #l-header nav .hamburger .bar.bar-bottom {
    bottom: 0;
  }
  #l-header nav .hamburger.is-active .bar.bar-top {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  #l-header nav .hamburger.is-active .bar.bar-middle {
    width: 0;
    opacity: 0.3;
  }
  #l-header nav .hamburger.is-active .bar.bar-bottom {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  #l-header {
    background-image: unset;
  }
  form.contact-form {
    width: 100%;
  }
  form .field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  form .field-group .field {
    width: 100%;
  }
  form .field.field-submit button {
    width: 100%;
  }
  #registration .registration-form .field-submit button,
  #login .registration-form .field-submit button {
    width: 100% !important;
  }
  #registration .field-alreadylog,
  #login .field-alreadylog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
  #brand-informations #l-constrained {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #brand-informations #l-constrained .brand___contact {
    width: 100% !important;
  }
  #brand-informations #l-constrained .brand___logo {
    width: 100% !important;
  }
  #brand-informations #l-constrained .brand___about {
    width: 100% !important;
  }
  #l-footer #brand-informations #l-constrained {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #l-footer #brand-informations #l-constrained .brand___contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  #l-footer #brand-informations #l-constrained .brand___about {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #map {
    background-image: none;
  }
}

@media screen and (max-width: 480px) {
  #l-header nav .responsive-list {
    width: 100%;
  }
  #welcome {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  #welcome > #l-constrained {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #welcome > #l-constrained h1.section-title {
    font-size: 3em;
  }
  #welcome > #l-constrained p {
    font-size: 1em;
  }
}

/* ─────────────────────────────────────────────────────────
/* ------------------- C S S   E N D -----------------------
/* ───────────────────────────────────────────────────────── */
/*# sourceMappingURL=main.css.map */