<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ben a verre | {% block title %}{% endblock %}</title>
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{ asset('assets/css/reset.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/main.min.css') }}" rel="stylesheet">
        {# CSS HERE #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# CONTENT #}
        <div id="l-content">
            {% block body %}{% endblock %}
        </div>
        {# SCRIPT HERE #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
