/* ==|====================
   Utils/Mixins
   ======================= */

@mixin flexbox($justify-content, $align-items, $flex-direction) {
    display: flex;
    @if $justify-content {
        justify-content: $justify-content;
    }
    @if $align-items {
        align-items: $align-items;
    }
    @if $flex-direction {
        flex-direction: $flex-direction;
    }
}