/* ==|====================
   Utils/Site-Settings
   ======================= */

@charset "UTF-8";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&display=swap');
@import url('../fonts/marianne/marianne.css');
$f-primary: 'Rubik', system-ui, Helvetica, Arial, sans-serif;
$f-secondary: 'custom-marianne', system-ui, Helvetica, Arial, sans-serif;
$f-default-size: 14px;

// Colors
$c-background-default: #F4F9FF;
$c-primary: #4BAC60;
$c-primary-contrast: #2f8842;
$c-secondary: #202C3A;
$c-light: #F4F9FF;
$c-white: #fff;
$c-error: #ffcece;
$c-error-text: #D54C4C;
$c-info: #bbcaee;
$c-info-text: #3f5b9c;
$c-success: #bef5b8;
$c-success-text: #469b3c;

// Constrained
$w-constrained: 1440px;

// transition
$t-duration: 0.275s;
$t-easing: ease-in-out;
$t-transition: $t-duration $t-easing;